body{
    text-align: center;
    width:100%;
}

a:link{
    color:black;
    text-decoration:none;
}
a.keyword{
    margin-right: 20px;
    font-weight:bold;
    font-size:20px;
    width:100%;
    color:black;
    
}

span{
    margin-right:110px;
    
}

.search {
    position: relative;
    width: 95%;
    float: left;
    text-align:right;
  }
  .search-bar {
    width: 380px;
    height: 30px;
    font-size: 15px;
    padding:3px;
  }
  .search-btn {
    width: 36px;
    height: 38px;
    background-color: #a5a09e;
    outline: none;
    cursor: pointer;
    position: absolute;
  
  }

.first{
    text-align:left;
    font-size:16px;
    margin-bottom:15px;
}

.title{
    font-weight:bold;
    font-size:30px;
    text-align:left;
}
.key{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}
.keyword{
    font-size:13px;
    text-align: left;
    margin-top:20px;
    margin-bottom: 30px;
    line-height: 20px;
}
.text{
    font-size:13px;
    margin-bottom: 30px;
    line-height: 20px;
}
.content{
    font-size:20px;
    text-align: left;
    width:1100px;
    line-height: 30px;
    margin-bottom: 50px;
    margin-top:60px;
}

.right{
    font-weight:bold;
    font-size:23px;
    text-align:left;
    margin-left:20px;
    margin-top:20px;
}
.point{
    width:300px;
}
.list{
    font-size:18px;
    font-weight:bold;
    letter-spacing: 3px;
    line-height: 25px;
}
.last{
    font-size:18px;
    text-align:left;


}

